# **Step3 -> "Pre-procesamiento: Limpieza de datos"**

## wd

In [1]:
working_dir = "../data"
working_dir

'../data'

## Archivo de datos: **Vehiculos_afectos_a_IPV_Ene-Mar_2025_3.xlsx**

In [2]:
import pandas as pd

df = pd.read_excel(f"{working_dir}/Vehiculos_afectos_a_IPV_Ene-Mar_2025_3.xlsx")
print(df.shape)
df.head(3)

(251817, 16)

,N° registro,Nº persona,Tipo persona,Tipo contribuyente,Distrito domicilio fiscal,Porcentaje propiedad,Correlativo,Fecha adquisición vehículo,Fecha 1ra inscripción SUNARP,Clase vehículo,Categoría vehículo,Marca,Modelo,Valor adquisición (US $),Valor adquisición (S/),Valor referencial 2025 (S/)
0,1018115191,2311249402,Persona Natural,Pequeño,ANCON,100.0,1911465,2022-12-24,2022-12-29,Camioneta,"B1, B2, B3, B4 (Pick up/otros)",FORD,BRONCO SPORT BIG BEND 4X4,39090.0,149323.8,126060
1,1056099842,6690559162,Persona Natural,Pequeño,ANCON,100.0,2048050,2024-04-20,2024-05-15,Camioneta,"B1, B2, B3, B4 (Pick up/otros)",CHEVROLET,N400 1.5 MT PASAJEROS BASE,13990.0,52462.5,48930
2,1059017867,7789077745,Persona Natural,Pequeño,ANCON,100.0,1963261,2023-04-28,2023-05-30,Camioneta,"B1, B2, B3, B4 (Pick up/otros)",PEUGEOT,3008 GT LINE 1.6 THP EAT6 165,42490.0,158062.8,136190

In [3]:
df.rename(columns={
    'N° registro': 'num_registro',
    'Nº persona': 'num_persona',
    'Tipo persona': 'tipo_persona',
    'Tipo contribuyente': 'tipo_contribuyente',
    'Distrito domicilio fiscal': 'distrito_fiscal',
    'Porcentaje propiedad': 'porcentaje_propiedad',
    'Correlativo': 'correlativo',
    'Fecha adquisición vehículo': 'fecha_adquisicion',
    'Fecha 1ra inscripción SUNARP': 'fecha_inscripcion_sunarp',
    'Clase vehículo': 'clase_vehiculo',
    'Categoría vehículo': 'categoria_vehiculo',
    'Marca': 'marca',
    'Modelo': 'modelo',
    'Valor adquisición (US $)': 'valor_adquisicion_usd',
    'Valor adquisición (S/)': 'valor_adquisicion_pen',
    'Valor referencial 2025 (S/)': 'valor_referencial_2025_pen'
}, inplace=True)
df.head()

,num_registro,num_persona,tipo_persona,tipo_contribuyente,distrito_fiscal,porcentaje_propiedad,correlativo,fecha_adquisicion,fecha_inscripcion_sunarp,clase_vehiculo,categoria_vehiculo,marca,modelo,valor_adquisicion_usd,valor_adquisicion_pen,valor_referencial_2025_pen
0,1018115191,2311249402,Persona Natural,Pequeño,ANCON,100.0,1911465,2022-12-24,2022-12-29,Camioneta,"B1, B2, B3, B4 (Pick up/otros)",FORD,BRONCO SPORT BIG BEND 4X4,39090.0,149323.8,126060
1,1056099842,6690559162,Persona Natural,Pequeño,ANCON,100.0,2048050,2024-04-20,2024-05-15,Camioneta,"B1, B2, B3, B4 (Pick up/otros)",CHEVROLET,N400 1.5 MT PASAJEROS BASE,13990.0,52462.5,48930
2,1059017867,7789077745,Persona Natural,Pequeño,ANCON,100.0,1963261,2023-04-28,2023-05-30,Camioneta,"B1, B2, B3, B4 (Pick up/otros)",PEUGEOT,3008 GT LINE 1.6 THP EAT6 165,42490.0,158062.8,136190
3,1067681437,2364381756,Sociedad Conyugal,Pequeño,ANCON,100.0,1884946,2022-09-23,2022-10-27,Automóvil,A2 (De 1051 a 1500 cc),HYUNDAI,GRAND I10 GL,14590.0,58068.2,40850
4,1076732977,2202287071,Persona Natural,Pequeño,ANCON,100.0,1949260,2023-05-30,2023-06-02,Camioneta,"B1, B2, B3, B4 (Pick up/otros)",JETOUR,X70 1.5T MEC 4X2 CONFORT,15820.0,58217.6,64070

## Estandarización de valores categóricas

In [4]:
mapping = {
    'Persona Natural': 'natural',
    'Sociedad Conyugal': 'soc_conyugal',
    'Persona Jurídica': 'juridica',
    'Sucesión Indivisa': 'suc_indivisa',
    'Menores de Edad': 'menores_edad',
    'Sociedad Irregular': 'soc_irregular',
}
df['tipo_persona'] = df['tipo_persona'].replace(mapping)
print(df['tipo_persona'].unique())

['natural' 'soc_conyugal' 'juridica' 'suc_indivisa' 'menores_edad'
 'soc_irregular']

In [5]:
print(df['tipo_contribuyente'].nunique())
print(df['tipo_contribuyente'].unique())

mapping_contribuyente = {
    'Pequeño': 'pequeno',
    'Mediano': 'mediano',
    'Grande': 'grande'
}
df['tipo_contribuyente'] = df['tipo_contribuyente'].replace(mapping_contribuyente)
print(df['tipo_contribuyente'].unique())

3
['Pequeño' 'Mediano' 'Grande']
['pequeno' 'mediano' 'grande']

In [6]:
print(df['clase_vehiculo'].nunique())
print(df['clase_vehiculo'].unique())

mapping_clase = {
    'Camioneta': 'camioneta',
    'Automóvil': 'automovil',
    'Camión': 'camion',
    'Omnibus': 'omnibus',
    'Tracto camion, Remolcador, Semiremolcador': 'tracto_camion_remolcador',
    'Station Wagon': 'station_wagon'
}
df['clase_vehiculo'] = df['clase_vehiculo'].replace(mapping_clase)
print(df['clase_vehiculo'].unique())

6
['Camioneta' 'Automóvil' 'Camión' 'Omnibus'
 'Tracto camion, Remolcador, Semiremolcador' 'Station Wagon']
['camioneta' 'automovil' 'camion' 'omnibus' 'tracto_camion_remolcador'
 'station_wagon']

In [7]:
print(df['categoria_vehiculo'].nunique())
print(df['categoria_vehiculo'].unique())

mapping_categoria = {
    'B1, B2, B3, B4 (Pick up/otros)': 'b1234_pickup_otros',
    'A2 (De 1051 a 1500 cc)': 'a2_1051_1500cc',
    'C1 (Camiones)': 'c1_camiones',
    'A1 (Menos de 1050 cc)': 'a1_menos_1050cc',
    'A3 (De 1501 a 2000 cc)': 'a3_1501_2000cc',
    'D1 (Bus, omnibus)': 'd1_bus_omnibus',
    'E1 (Remolcador)': 'e1_remolcador',
    'A4 (Más de 2000 cc)': 'a4_mas_2000cc'
}
df['categoria_vehiculo'] = df['categoria_vehiculo'].replace(mapping_categoria)
print(df['categoria_vehiculo'].unique())

8
['B1, B2, B3, B4 (Pick up/otros)' 'A2 (De 1051 a 1500 cc)' 'C1 (Camiones)'
 'A1 (Menos de 1050 cc)' 'A3 (De 1501 a 2000 cc)' 'D1 (Bus, omnibus)'
 'E1 (Remolcador)' 'A4 (Más de 2000 cc)']
['b1234_pickup_otros' 'a2_1051_1500cc' 'c1_camiones' 'a1_menos_1050cc'
 'a3_1501_2000cc' 'd1_bus_omnibus' 'e1_remolcador' 'a4_mas_2000cc']

In [8]:
df.head(3)

,num_registro,num_persona,tipo_persona,tipo_contribuyente,distrito_fiscal,porcentaje_propiedad,correlativo,fecha_adquisicion,fecha_inscripcion_sunarp,clase_vehiculo,categoria_vehiculo,marca,modelo,valor_adquisicion_usd,valor_adquisicion_pen,valor_referencial_2025_pen
0,1018115191,2311249402,natural,pequeno,ANCON,100.0,1911465,2022-12-24,2022-12-29,camioneta,b1234_pickup_otros,FORD,BRONCO SPORT BIG BEND 4X4,39090.0,149323.8,126060
1,1056099842,6690559162,natural,pequeno,ANCON,100.0,2048050,2024-04-20,2024-05-15,camioneta,b1234_pickup_otros,CHEVROLET,N400 1.5 MT PASAJEROS BASE,13990.0,52462.5,48930
2,1059017867,7789077745,natural,pequeno,ANCON,100.0,1963261,2023-04-28,2023-05-30,camioneta,b1234_pickup_otros,PEUGEOT,3008 GT LINE 1.6 THP EAT6 165,42490.0,158062.8,136190

## Corrección tipos de variables

In [9]:
df.dtypes

num_registro                           int64
num_persona                            int64
tipo_persona                          object
tipo_contribuyente                    object
distrito_fiscal                       object
porcentaje_propiedad                 float64
correlativo                            int64
fecha_adquisicion             datetime64[ns]
fecha_inscripcion_sunarp      datetime64[ns]
clase_vehiculo                        object
categoria_vehiculo                    object
marca                                 object
modelo                                object
valor_adquisicion_usd                float64
valor_adquisicion_pen                float64
valor_referencial_2025_pen             int64
dtype: object

In [10]:
df[['tipo_persona', 'tipo_contribuyente', 'distrito_fiscal', 'clase_vehiculo', 'categoria_vehiculo', 'marca', 'modelo']] = df[['tipo_persona', 'tipo_contribuyente', 'distrito_fiscal', 'clase_vehiculo', 'categoria_vehiculo', 'marca', 'modelo']].astype('string')
df.dtypes

num_registro                           int64
num_persona                            int64
tipo_persona                  string[python]
tipo_contribuyente            string[python]
distrito_fiscal               string[python]
porcentaje_propiedad                 float64
correlativo                            int64
fecha_adquisicion             datetime64[ns]
fecha_inscripcion_sunarp      datetime64[ns]
clase_vehiculo                string[python]
categoria_vehiculo            string[python]
marca                         string[python]
modelo                        string[python]
valor_adquisicion_usd                float64
valor_adquisicion_pen                float64
valor_referencial_2025_pen             int64
dtype: object

## Eliminamos duplicados

Se eliminaron las columnas num_registro, num_persona y correlativo porque son identificadores internos que no aportan información útil para el análisis. Al retirarlas, fue posible detectar registros duplicados en las demás variables descriptivas del vehículo y su adquisición. Estos duplicados fueron eliminados para evitar contar dos veces el mismo caso y asegurar la consistencia del conjunto de datos.

In [11]:
df.drop(columns=['num_registro', 'num_persona', 'correlativo'], inplace=True)

In [12]:
# Omitimos duplicados
print(df.shape)
df.drop_duplicates(inplace=True)
print(df.shape)

(251817, 13)
(247816, 13)

## Analizamos vacíos

In [13]:
vacios = pd.DataFrame(df.isnull().sum()).sort_values(0,ascending=True)
vacios.columns = ['vacios']
vacios['vacios%'] = round(vacios['vacios']/df.shape[0], 2)*100
vacios

                            vacios  vacios%
tipo_persona                     0      0.0
tipo_contribuyente               0      0.0
distrito_fiscal                  0      0.0
porcentaje_propiedad             0      0.0
fecha_adquisicion                0      0.0
fecha_inscripcion_sunarp         0      0.0
clase_vehiculo                   0      0.0
categoria_vehiculo               0      0.0
marca                            0      0.0
modelo                           0      0.0
valor_adquisicion_usd            0      0.0
valor_adquisicion_pen            0      0.0
valor_referencial_2025_pen       0      0.0

## Analizamos valores cero en las variables

In [14]:
zeros_por_columna = (df == 0).sum()
print("Número de ceros por columna:")
print(zeros_por_columna)

Número de ceros por columna:
tipo_persona                     0
tipo_contribuyente               0
distrito_fiscal                  0
porcentaje_propiedad             0
fecha_adquisicion                0
fecha_inscripcion_sunarp         0
clase_vehiculo                   0
categoria_vehiculo               0
marca                            0
modelo                           0
valor_adquisicion_usd         7121
valor_adquisicion_pen          107
valor_referencial_2025_pen       0
dtype: Int64

In [15]:
registros_con_ceros = df[df.eq(0).any(axis=1)]
print(f"Registros con al menos un cero: {len(registros_con_ceros)}")
registros_con_ceros.head(5)

Registros con al menos un cero: 7121

,tipo_persona,tipo_contribuyente,distrito_fiscal,porcentaje_propiedad,fecha_adquisicion,fecha_inscripcion_sunarp,clase_vehiculo,categoria_vehiculo,marca,modelo,valor_adquisicion_usd,valor_adquisicion_pen,valor_referencial_2025_pen
34,soc_conyugal,pequeno,ANCON,100.0,2024-08-26,2022-03-03,camioneta,b1234_pickup_otros,CHERY,NEW TIGGO 7 PRO 1.5T CVT LUX,0.0,43700.00,63040
105,juridica,pequeno,ANCON,100.0,2023-12-21,2024-02-05,camioneta,b1234_pickup_otros,CHEVROLET,CAPTIVA,0.0,107915.96,65930
114,juridica,mediano,ANCON,100.0,2023-12-07,2023-12-27,camioneta,b1234_pickup_otros,TOYOTA,HILUX DC 4X2 2GD,0.0,131415.00,97510
139,juridica,pequeno,ANCON,100.0,2023-06-12,2022-10-17,camioneta,b1234_pickup_otros,GREAT WALL,POER MT 4X4 STD,0.0,1990.00,71760
174,natural,pequeno,ANCON,100.0,2024-06-17,2023-07-25,camioneta,b1234_pickup_otros,JOYLONG,HKL6600C,0.0,1900.00,78940

In [16]:
ambos_ceros = len(df[(df['valor_adquisicion_usd'] == 0) & (df['valor_adquisicion_pen'] == 0)])
print(f"Registros con valor_adquisicion_usd y valor_adquisicion_pen en 0: {ambos_ceros}")

Registros con valor_adquisicion_usd y valor_adquisicion_pen en 0: 107

Existen registros que tiene valor de adquisición en 0 pero por información del negocio, esto puede ser posible porque pueden existir vehiculos donados u herencia que no tienen ese valor establecido y se procede con el registro en 0.

## Analisis de columas o variables por separado

### Analisis variable "valor_adquisicion_usd"

### Analisis variable "valor_adquisicion_usd"

Eliminamos la columna valor_adquisición_usd por razones del negocio, ya que son la misma variable expresada en dos unidades distintas.

In [17]:
df.drop(columns=['valor_adquisicion_usd'], inplace=True)

### Análisis variable "tipo_persona"

In [18]:
df["tipo_persona"].value_counts()

tipo_persona
natural          105048
juridica          89476
soc_conyugal      53247
soc_irregular        35
suc_indivisa          5
menores_edad          5
Name: count, dtype: Int64

In [19]:
df['tipo_persona'] = df['tipo_persona'].replace({
    'soc_irregular': 'otros',
    'suc_indivisa': 'otros',
    'menores_edad': 'otros'
})
df['tipo_persona'].value_counts()

tipo_persona
natural         105048
juridica         89476
soc_conyugal     53247
otros               45
Name: count, dtype: Int64

### Análisis variable "tipo_contribuyente"

In [20]:
df["tipo_contribuyente"].value_counts()

tipo_contribuyente
pequeno    170051
grande      62879
mediano     14886
Name: count, dtype: Int64

### Análisis variable "modelo"

La columna modelo tiene 3,775 categorías únicas, la gran mayoría con muy pocos registros. Mantenerla como variable categórica generaría ruido, aumentaría el tiempo de cómputo y podría distorsionar los clusters. Por ello, se elimina, conservando otras variables que capturan información relevante del vehículo (marca, clase, categoría) para el análisis de clustering.

Se podría reducir a las 20–30 categorías más frecuentes, pero incluso así los modelos raros seguirían siendo numerosos y dispersos, lo que complicaría la interpretación y no aportaría información significativa adicional. Por eso se decidió eliminar la variable y mantener otras columnas relevantes para caracterizar los vehículos.

In [21]:
df["modelo"].value_counts().head(10)

modelo
OTROS MODELOS TRACCIÓN SIMPLE    10193
HILUX DC 4X4 1GD SR               4905
OTROS MODELOS                     4881
ETIOS 1.5 MT                      3585
OTROS MODELOS TRACCIÓN DOBLE      2967
SOLUTO 1.4 MT LX PLUS             2936
AVANZA 1.5 MT                     2771
NEW TUCSON GL                     2613
CRETA GL                          2371
H100 TRUCK GL 2.5 CRDI            2184
Name: count, dtype: Int64

In [22]:
porcentajes_modelo = df['modelo'].value_counts(normalize=True) * 100
print(df['modelo'].nunique())
porcentajes_modelo.head(10)

3775

modelo
OTROS MODELOS TRACCIÓN SIMPLE    4.113132
HILUX DC 4X4 1GD SR              1.979291
OTROS MODELOS                    1.969606
ETIOS 1.5 MT                     1.446638
OTROS MODELOS TRACCIÓN DOBLE     1.197259
SOLUTO 1.4 MT LX PLUS             1.18475
AVANZA 1.5 MT                    1.118168
NEW TUCSON GL                    1.054411
CRETA GL                         0.956758
H100 TRUCK GL 2.5 CRDI           0.881299
Name: proportion, dtype: Float64

In [23]:
df.drop(columns=['modelo'], inplace=True)

### Análisis variable "porcentaje_propiedad"

La variable está muy concentrada en 100%, con unas pocas copropiedades y un conjunto muy disperso de valores raros.

Para clustering, mantener todos los valores numéricos o intentar discretizarlos en muchas categorías generaría ruido y distorsión, porque las categorías minoritarias tienen muy pocos registros.

Se considera razonable convertirla en dos categorías propietario total y copropietario, esta tarea se hara en la transformación.

In [24]:
df["porcentaje_propiedad"].value_counts().head(19)

porcentaje_propiedad
100.00000    237781
50.00000       9686
25.00000         43
33.33000         37
30.00000         35
33.33333         29
33.00000         26
10.00000         25
1.00000          21
33.34000         19
40.00000         18
99.00000         15
34.00000         13
16.67000         12
12.50000          6
66.66000          6
50.50000          5
99.99999          5
75.00000          4
Name: count, dtype: int64

In [25]:
(df["porcentaje_propiedad"].value_counts()/len(df["porcentaje_propiedad"])*100).head(10)

porcentaje_propiedad
100.00000    95.950625
50.00000      3.908545
25.00000      0.017352
33.33000      0.014930
30.00000      0.014123
33.33333      0.011702
33.00000      0.010492
10.00000      0.010088
1.00000       0.008474
33.34000      0.007667
Name: count, dtype: float64

### Análisis variable "marca"

La variable marca tiene 133 categorías, pero muchas son muy poco frecuentes, incluso con solo 1 registro. Para mejorar la estabilidad y la interpretabilidad del clustering, se decidió mantener como categorías individuales solo las marcas más frecuentes y agrupar el resto en otros. Esto reduce el ruido de las marcas raras sin perder información significativa sobre las marcas dominantes

In [26]:
print(df["marca"].nunique())
print(df["marca"].value_counts())

133
marca
TOYOTA        35902
HYUNDAI       22359
KIA           21696
DFSK          13556
CHEVROLET     12563
              ...
TAITAN            1
ZHONG TONG        1
YAXING            1
DS                1
CHRYSLER          1
Name: count, Length: 133, dtype: Int64

In [27]:
print(df["marca"].value_counts()/len(df["marca"])*100)

marca
TOYOTA        14.487362
HYUNDAI         9.02242
KIA            8.754883
DFSK           5.470188
CHEVROLET      5.069487
                ...
TAITAN         0.000404
ZHONG TONG     0.000404
YAXING         0.000404
DS             0.000404
CHRYSLER       0.000404
Name: count, Length: 133, dtype: Float64

In [28]:
total_registros = len(df)
umbral = 0.01 * total_registros  # 1% del total
print(f"Total registros: {total_registros}, Umbral (1%): {umbral}")

marcas_frecuentes = df['marca'].value_counts()
marcas_a_mantener = marcas_frecuentes[marcas_frecuentes >= umbral].index.tolist()
print(f"Marcas a mantener: {marcas_a_mantener}")
print(f"Cantidad de marcas a mantener: {len(marcas_a_mantener)}")

df['marca_agrupada'] = df['marca'].apply(lambda x: x if x in marcas_a_mantener else 'OTROS')
df.drop(columns=['marca'], inplace=True)
print("\nDistribución de 'marca_agrupada':")
print(df['marca_agrupada'].value_counts(normalize=True) * 100)

Total registros: 247816, Umbral (1%): 2478.16
Marcas a mantener: ['TOYOTA', 'HYUNDAI', 'KIA', 'DFSK', 'CHEVROLET', 'NISSAN', 'CHANGAN', 'SUZUKI', 'VOLKSWAGEN', 'JAC', 'HONDA', 'MITSUBISHI', 'FORD', 'CHERY', 'MAZDA', 'SUBARU', 'VOLVO', 'GEELY', 'MERCEDES BENZ', 'JETOUR', 'MG', 'FOTON', 'BMW']
Cantidad de marcas a mantener: 23

Distribución de 'marca_agrupada':
marca_agrupada
OTROS            15.156003
TOYOTA           14.487362
HYUNDAI           9.022420
KIA               8.754883
DFSK              5.470188
CHEVROLET         5.069487
NISSAN            4.241050
CHANGAN           3.965846
SUZUKI            3.421490
VOLKSWAGEN        3.320205
JAC               2.677390
HONDA             2.626142
MITSUBISHI        2.524454
FORD              2.469574
CHERY             2.322288
MAZDA             2.046276
SUBARU            1.865901
VOLVO             1.852584
GEELY             1.700859
MERCEDES BENZ     1.685525
JETOUR            1.492236
MG                1.452691
FOTON             1.360687
BMW               1.014462
Name: proportion, dtype: float64

### Analisis variable "clase_vehiculo" y "categoria_vehiculo"

Aqui las dos variables son lo mismo solo que una esta generada a partir de la otra, al parecer. Entonces nos quedamos solo con una, en este caso categoría vehiculo

In [29]:
print(df["clase_vehiculo"].nunique())
print(df["clase_vehiculo"].value_counts())

6
clase_vehiculo
camioneta                   181672
automovil                    44600
camion                       13596
tracto_camion_remolcador      5198
omnibus                       2733
station_wagon                   17
Name: count, dtype: Int64

In [30]:
print(df["categoria_vehiculo"].nunique())
print(df["categoria_vehiculo"].value_counts())

8
categoria_vehiculo
b1234_pickup_otros    181672
a2_1051_1500cc         31773
c1_camiones            13596
a3_1501_2000cc          7684
e1_remolcador           5198
a1_menos_1050cc         4643
d1_bus_omnibus          2733
a4_mas_2000cc            517
Name: count, dtype: Int64

In [31]:
df.drop(columns=['clase_vehiculo'], inplace=True)

In [32]:
df.columns

Index(['tipo_persona', 'tipo_contribuyente', 'distrito_fiscal',
       'porcentaje_propiedad', 'fecha_adquisicion', 'fecha_inscripcion_sunarp',
       'categoria_vehiculo', 'valor_adquisicion_pen',
       'valor_referencial_2025_pen', 'marca_agrupada'],
      dtype='object')

### Análisis variable "distrito_fiscal"

In [33]:
print(df["distrito_fiscal"].nunique())
print(df["distrito_fiscal"].value_counts())

48
distrito_fiscal
SAN ISIDRO                    26478
SANTIAGO DE SURCO             23848
LA MOLINA                     15600
MIRAFLORES                    13115
SAN MARTIN DE PORRES          12918
SAN JUAN DE LURIGANCHO        12483
ATE                           12272
LIMA                           8629
SAN BORJA                      8196
LOS OLIVOS                     7870
COMAS                          7639
LA VICTORIA                    7540
CHORRILLOS                     7496
SAN MIGUEL                     6832
SURQUILLO                      6094
SAN JUAN DE MIRAFLORES         5917
VILLA EL SALVADOR              5762
CARABAYLLO                     5015
VILLA MARIA DEL TRIUNFO        4752
JESUS MARIA                    4598
SANTA ANITA                    4505
LURIGANCHO                     4309
PUENTE PIEDRA                  4232
PUEBLO LIBRE                   4025
MAGDALENA DEL MAR              3999
LURIN                          3101
LINCE                          3000
EL AGUSTINO                    2708
RIMAC                          2459
BREÑA                          2331
INDEPENDENCIA                  2149
SAN LUIS                       1876
PACHACAMAC                     1645
BARRANCO                       1585
CHACLACAYO                      745
CIENEGUILLA                     582
ANCON                           499
SANTA ROSA                      250
PUNTA HERMOSA                   232
PUCUSANA                        172
SAN BARTOLO                     163
PUNTA NEGRA                     148
SANTA MARIA DEL MAR              38
CP SANTA MARIA DE HUACHIPA        5
CALLAO                            1
CARMEN DE LA LEGUA REYNOSO        1
LA PERLA                          1
VENTANILLA                        1
Name: count, dtype: Int64

In [34]:
total_registros = len(df)
umbral = 0.01 * total_registros  # 1% del total
print(f"Total registros: {total_registros}, Umbral (1%): {umbral}")

distritos_frecuentes = df['distrito_fiscal'].value_counts()
distritos_a_mantener = distritos_frecuentes[distritos_frecuentes >= umbral].index.tolist()
print(f"Distritos a mantener: {distritos_a_mantener}")
print(f"Cantidad de distritos a mantener: {len(distritos_a_mantener)}")

df['distrito_fiscal_agrupado'] = df['distrito_fiscal'].apply(lambda x: x if x in distritos_a_mantener else 'OTROS')

print("\nDistribución de 'distrito_fiscal_agrupado':")
print(df['distrito_fiscal_agrupado'].value_counts(normalize=True) * 100)

df.drop(columns=['distrito_fiscal'], inplace=True)

Total registros: 247816, Umbral (1%): 2478.16
Distritos a mantener: ['SAN ISIDRO', 'SANTIAGO DE SURCO', 'LA MOLINA', 'MIRAFLORES', 'SAN MARTIN DE PORRES', 'SAN JUAN DE LURIGANCHO', 'ATE', 'LIMA', 'SAN BORJA', 'LOS OLIVOS', 'COMAS', 'LA VICTORIA', 'CHORRILLOS', 'SAN MIGUEL', 'SURQUILLO', 'SAN JUAN DE MIRAFLORES', 'VILLA EL SALVADOR', 'CARABAYLLO', 'VILLA MARIA DEL TRIUNFO', 'JESUS MARIA', 'SANTA ANITA', 'LURIGANCHO', 'PUENTE PIEDRA', 'PUEBLO LIBRE', 'MAGDALENA DEL MAR', 'LURIN', 'LINCE', 'EL AGUSTINO']
Cantidad de distritos a mantener: 28

Distribución de 'distrito_fiscal_agrupado':
distrito_fiscal_agrupado
SAN ISIDRO                 10.684540
SANTIAGO DE SURCO           9.623269
LA MOLINA                   6.294993
OTROS                       6.005665
MIRAFLORES                  5.292233
SAN MARTIN DE PORRES        5.212738
SAN JUAN DE LURIGANCHO      5.037205
ATE                         4.952061
LIMA                        3.482019
SAN BORJA                   3.307293
LOS OLIVOS                  3.175743
COMAS                       3.082529
LA VICTORIA                 3.042580
CHORRILLOS                  3.024825
SAN MIGUEL                  2.756884
SURQUILLO                   2.459083
SAN JUAN DE MIRAFLORES      2.387659
VILLA EL SALVADOR           2.325112
CARABAYLLO                  2.023679
VILLA MARIA DEL TRIUNFO     1.917552
JESUS MARIA                 1.855409
SANTA ANITA                 1.817881
LURIGANCHO                  1.738790
PUENTE PIEDRA               1.707719
PUEBLO LIBRE                1.624189
MAGDALENA DEL MAR           1.613697
LURIN                       1.251332
LINCE                       1.210576
EL AGUSTINO                 1.092746
Name: proportion, dtype: float64

In [35]:
df.head(3)

,tipo_persona,tipo_contribuyente,porcentaje_propiedad,fecha_adquisicion,fecha_inscripcion_sunarp,categoria_vehiculo,valor_adquisicion_pen,valor_referencial_2025_pen,marca_agrupada,distrito_fiscal_agrupado
0,natural,pequeno,100.0,2022-12-24,2022-12-29,b1234_pickup_otros,149323.8,126060,FORD,OTROS
1,natural,pequeno,100.0,2024-04-20,2024-05-15,b1234_pickup_otros,52462.5,48930,CHEVROLET,OTROS
2,natural,pequeno,100.0,2023-04-28,2023-05-30,b1234_pickup_otros,158062.8,136190,OTROS,OTROS

## **Tratamiento de Datos Atípicos**

### Respecto a Límite Superior

In [36]:
df.describe()

,porcentaje_propiedad,fecha_adquisicion,fecha_inscripcion_sunarp,valor_adquisicion_pen,valor_referencial_2025_pen
count,247816.000000,247816,247816,2.478160e+05,2.478160e+05
mean,97.952313,2023-07-09 22:35:18.487910656,2023-07-04 23:23:03.658843392,1.209238e+05,9.844988e+04
min,1.000000,2002-04-29 00:00:00,2022-01-01 00:00:00,0.000000e+00,3.030000e+03
25%,100.000000,2022-10-28 00:00:00,2022-10-19 00:00:00,5.985480e+04,5.266000e+04
50%,100.000000,2023-07-17 00:00:00,2023-07-03 00:00:00,8.302800e+04,7.134000e+04
75%,100.000000,2024-03-27 00:00:00,2024-03-20 00:00:00,1.256919e+05,1.056900e+05
max,100.000000,2024-12-31 00:00:00,2024-12-31 00:00:00,8.110659e+06,1.427600e+06
std,10.022973,NaN,NaN,1.417678e+05,9.060228e+04

In [37]:
import numpy as np

descriptivesMax = df.describe(percentiles = list(np.arange(0, 1, 0.05)))
descriptivesMax

,porcentaje_propiedad,fecha_adquisicion,fecha_inscripcion_sunarp,valor_adquisicion_pen,valor_referencial_2025_pen
count,247816.000000,247816,247816,2.478160e+05,2.478160e+05
mean,97.952313,2023-07-09 22:35:18.487910656,2023-07-04 23:23:03.658843392,1.209238e+05,9.844988e+04
min,1.000000,2002-04-29 00:00:00,2022-01-01 00:00:00,0.000000e+00,3.030000e+03
0%,1.000000,2002-04-29 00:00:00,2022-01-01 00:00:00,0.000000e+00,3.030000e+03
5%,100.000000,2022-02-22 00:00:00,2022-03-02 00:00:00,4.387020e+04,3.913000e+04
10%,100.000000,2022-04-28 00:00:00,2022-05-03 00:00:00,4.902572e+04,4.407000e+04
15%,100.000000,2022-06-30 00:00:00,2022-07-01 00:00:00,5.232150e+04,4.695000e+04
20%,100.000000,2022-08-31 00:00:00,2022-08-26 00:00:00,5.578646e+04,4.917000e+04
25%,100.000000,2022-10-28 00:00:00,2022-10-19 00:00:00,5.985480e+04,5.266000e+04
30%,100.000000,2022-12-23 00:00:00,2022-12-13 00:00:00,6.400996e+04,5.656000e+04
35%,100.000000,2023-02-15 00:00:00,2023-02-01 00:00:00,6.819900e+04,6.118000e+04
40%,100.000000,2023-03-31 00:00:00,2023-03-21 00:00:00,7.270540e+04,6.426000e+04
45%,100.000000,2023-05-26 00:00:00,2023-05-11 00:00:00,7.757890e+04,6.746000e+04
50%,100.000000,2023-07-17 00:00:00,2023-07-03 00:00:00,8.302800e+04,7.134000e+04
55%,100.000000,2023-08-31 00:00:00,2023-08-18 00:00:00,8.855871e+04,7.536000e+04
60%,100.000000,2023-10-26 00:00:00,2023-10-12 00:00:00,9.496200e+04,8.143000e+04
65%,100.000000,2023-12-15 00:00:00,2023-12-05 00:00:00,1.036351e+05,8.893000e+04
70%,100.000000,2024-01-31 00:00:00,2024-01-26 00:00:00,1.133622e+05,9.679000e+04
75%,100.000000,2024-03-27 00:00:00,2024-03-20 00:00:00,1.256919e+05,1.056900e+05
80%,100.000000,2024-05-27 00:00:00,2024-05-20 00:00:00,1.406532e+05,1.130600e+05
85%,100.000000,2024-07-19 00:00:00,2024-07-17 00:00:00,1.572054e+05,1.306600e+05
90%,100.000000,2024-09-10 00:00:00,2024-09-12 00:00:00,1.959837e+05,1.566250e+05
95%,100.000000,2024-10-30 00:00:00,2024-11-06 00:00:00,3.375000e+05,2.663200e+05
max,100.000000,2024-12-31 00:00:00,2024-12-31 00:00:00,8.110659e+06,1.427600e+06
std,10.022973,NaN,NaN,1.417678e+05,9.060228e+04

Verificamos si se supera el limite superior para detectar outliers usando Q3 + 1.5*IQR

In [38]:
descriptivesMax.loc['max'] > (descriptivesMax.loc['75%'] + (1.5* (descriptivesMax.loc['75%']-descriptivesMax.loc['25%']) ) )

porcentaje_propiedad          False
fecha_adquisicion             False
fecha_inscripcion_sunarp      False
valor_adquisicion_pen          True
valor_referencial_2025_pen     True
dtype: bool

In [39]:
RIC = (descriptivesMax.loc['75%']-descriptivesMax.loc['25%'])
RIC

porcentaje_propiedad                        0.0
fecha_adquisicion             516 days 00:00:00
fecha_inscripcion_sunarp      518 days 00:00:00
valor_adquisicion_pen                   65837.1
valor_referencial_2025_pen              53030.0
dtype: object

In [40]:
descriptivesMax.loc['max'] > (descriptivesMax.loc['75%'] + (1.5*RIC) )

porcentaje_propiedad          False
fecha_adquisicion             False
fecha_inscripcion_sunarp      False
valor_adquisicion_pen          True
valor_referencial_2025_pen     True
dtype: bool

In [41]:
# Límite superior de la variable Valor referencial en soles
descriptivesMax['valor_referencial_2025_pen'].loc['75%'] + (1.5*RIC['valor_referencial_2025_pen'])

np.float64(185235.0)

In [42]:
# Límite superior de la variable Valor adquisición (S/)
descriptivesMax['valor_adquisicion_pen'].loc['75%'] + (1.5*RIC['valor_adquisicion_pen'])

np.float64(224447.55)

In [43]:
# Outliers en Valor referencial
outliers_ref = df[ df['valor_referencial_2025_pen'] > descriptivesMax['valor_referencial_2025_pen'].loc['75%'] + (1.5*RIC['valor_referencial_2025_pen']) ]
print(f"Outliers superiores en Valor referencial: {len(outliers_ref)}")
outliers_ref

Outliers superiores en Valor referencial: 19931

,tipo_persona,tipo_contribuyente,porcentaje_propiedad,fecha_adquisicion,fecha_inscripcion_sunarp,categoria_vehiculo,valor_adquisicion_pen,valor_referencial_2025_pen,marca_agrupada,distrito_fiscal_agrupado
16,natural,pequeno,100.0,2023-01-26,2023-01-26,c1_camiones,324597.35,245680,MERCEDES BENZ,OTROS
19,natural,pequeno,100.0,2022-11-03,2022-11-25,b1234_pickup_otros,812311.50,475020,BMW,OTROS
27,natural,pequeno,100.0,2022-05-11,2022-05-30,c1_camiones,224788.90,209990,OTROS,OTROS
50,soc_conyugal,pequeno,100.0,2021-12-29,2022-02-14,c1_camiones,332356.80,252960,MERCEDES BENZ,OTROS
54,natural,pequeno,100.0,2023-06-27,2023-07-10,d1_bus_omnibus,675180.00,335750,MERCEDES BENZ,OTROS
...,...,...,...,...,...,...,...,...,...,...
251684,soc_conyugal,pequeno,100.0,2022-05-19,2022-07-13,c1_camiones,332416.00,248300,VOLKSWAGEN,VILLA MARIA DEL TRIUNFO
251685,natural,pequeno,100.0,2022-04-29,2022-05-18,e1_remolcador,638208.00,443830,VOLVO,VILLA MARIA DEL TRIUNFO
251689,natural,pequeno,100.0,2024-03-21,2024-04-03,c1_camiones,351168.00,278550,OTROS,VILLA MARIA DEL TRIUNFO
251741,soc_conyugal,pequeno,100.0,2022-05-26,2022-06-10,c1_camiones,249750.00,211810,OTROS,VILLA MARIA DEL TRIUNFO
251793,juridica,pequeno,100.0,2023-04-26,2023-05-03,e1_remolcador,639840.00,563920,OTROS,VILLA MARIA DEL TRIUNFO

In [44]:
# Outliers en Valor adquisición (S/)
outliers_soles = df[ df['valor_adquisicion_pen'] > descriptivesMax['valor_adquisicion_pen'].loc['75%'] + (1.5*RIC['valor_adquisicion_pen']) ]
print(f"Outliers superiores en Valor adquisición (S/): {len(outliers_soles)}")
outliers_soles.head()

Outliers superiores en Valor adquisición (S/): 20469

,tipo_persona,tipo_contribuyente,porcentaje_propiedad,fecha_adquisicion,fecha_inscripcion_sunarp,categoria_vehiculo,valor_adquisicion_pen,valor_referencial_2025_pen,marca_agrupada,distrito_fiscal_agrupado
16,natural,pequeno,100.0,2023-01-26,2023-01-26,c1_camiones,324597.35,245680,MERCEDES BENZ,OTROS
19,natural,pequeno,100.0,2022-11-03,2022-11-25,b1234_pickup_otros,812311.50,475020,BMW,OTROS
27,natural,pequeno,100.0,2022-05-11,2022-05-30,c1_camiones,224788.90,209990,OTROS,OTROS
50,soc_conyugal,pequeno,100.0,2021-12-29,2022-02-14,c1_camiones,332356.80,252960,MERCEDES BENZ,OTROS
54,natural,pequeno,100.0,2023-06-27,2023-07-10,d1_bus_omnibus,675180.00,335750,MERCEDES BENZ,OTROS

### Respecto a Límite Inferior

In [45]:
descriptivesMin = df.describe(percentiles = list(np.arange(0, 1, 0.05)))
descriptivesMin

,porcentaje_propiedad,fecha_adquisicion,fecha_inscripcion_sunarp,valor_adquisicion_pen,valor_referencial_2025_pen
count,247816.000000,247816,247816,2.478160e+05,2.478160e+05
mean,97.952313,2023-07-09 22:35:18.487910656,2023-07-04 23:23:03.658843392,1.209238e+05,9.844988e+04
min,1.000000,2002-04-29 00:00:00,2022-01-01 00:00:00,0.000000e+00,3.030000e+03
0%,1.000000,2002-04-29 00:00:00,2022-01-01 00:00:00,0.000000e+00,3.030000e+03
5%,100.000000,2022-02-22 00:00:00,2022-03-02 00:00:00,4.387020e+04,3.913000e+04
10%,100.000000,2022-04-28 00:00:00,2022-05-03 00:00:00,4.902572e+04,4.407000e+04
15%,100.000000,2022-06-30 00:00:00,2022-07-01 00:00:00,5.232150e+04,4.695000e+04
20%,100.000000,2022-08-31 00:00:00,2022-08-26 00:00:00,5.578646e+04,4.917000e+04
25%,100.000000,2022-10-28 00:00:00,2022-10-19 00:00:00,5.985480e+04,5.266000e+04
30%,100.000000,2022-12-23 00:00:00,2022-12-13 00:00:00,6.400996e+04,5.656000e+04
35%,100.000000,2023-02-15 00:00:00,2023-02-01 00:00:00,6.819900e+04,6.118000e+04
40%,100.000000,2023-03-31 00:00:00,2023-03-21 00:00:00,7.270540e+04,6.426000e+04
45%,100.000000,2023-05-26 00:00:00,2023-05-11 00:00:00,7.757890e+04,6.746000e+04
50%,100.000000,2023-07-17 00:00:00,2023-07-03 00:00:00,8.302800e+04,7.134000e+04
55%,100.000000,2023-08-31 00:00:00,2023-08-18 00:00:00,8.855871e+04,7.536000e+04
60%,100.000000,2023-10-26 00:00:00,2023-10-12 00:00:00,9.496200e+04,8.143000e+04
65%,100.000000,2023-12-15 00:00:00,2023-12-05 00:00:00,1.036351e+05,8.893000e+04
70%,100.000000,2024-01-31 00:00:00,2024-01-26 00:00:00,1.133622e+05,9.679000e+04
75%,100.000000,2024-03-27 00:00:00,2024-03-20 00:00:00,1.256919e+05,1.056900e+05
80%,100.000000,2024-05-27 00:00:00,2024-05-20 00:00:00,1.406532e+05,1.130600e+05
85%,100.000000,2024-07-19 00:00:00,2024-07-17 00:00:00,1.572054e+05,1.306600e+05
90%,100.000000,2024-09-10 00:00:00,2024-09-12 00:00:00,1.959837e+05,1.566250e+05
95%,100.000000,2024-10-30 00:00:00,2024-11-06 00:00:00,3.375000e+05,2.663200e+05
max,100.000000,2024-12-31 00:00:00,2024-12-31 00:00:00,8.110659e+06,1.427600e+06
std,10.022973,NaN,NaN,1.417678e+05,9.060228e+04

In [46]:
descriptivesMin.loc['min'] < ( descriptivesMin.loc['25%'] - (1.5*RIC) )

porcentaje_propiedad           True
fecha_adquisicion              True
fecha_inscripcion_sunarp      False
valor_adquisicion_pen         False
valor_referencial_2025_pen    False
dtype: bool

In [47]:
# Límite inferior de la variable Valor referencial en soles
limite_inf_usd = descriptivesMax['valor_referencial_2025_pen'].loc['25%'] - (1.5*RIC['valor_referencial_2025_pen'])
print(f"Límite inferior Valor referencial (S/): {limite_inf_usd}")

Límite inferior Valor referencial (S/): -26885.0

In [48]:
# Límite inferior de la variable Valor adquisición (S/)
limite_inf_soles = descriptivesMax['valor_adquisicion_pen'].loc['25%'] - (1.5*RIC['valor_adquisicion_pen'])
print(f"Límite inferior Valor adquisición (S/): {limite_inf_soles}")

Límite inferior Valor adquisición (S/): -38900.84999999999

No hay valores por debajo de los limites inferiores

In [49]:
df_outliers = {}
df_sinOutlier = {}

for columna in df[['valor_referencial_2025_pen', 'valor_adquisicion_pen']].columns:
  df_outliers = pd.concat([pd.DataFrame(df_outliers),
                               df[(df[columna] < (descriptivesMin[columna].loc['25%'] - (1.5*RIC[columna]))) |                                                        (df[columna] > (descriptivesMax[columna].loc['75%'] + (1.5*RIC[columna])))]],
                              ignore_index=True)
  print(df_outliers.shape)

(19931, 10)
(40400, 10)

In [50]:
# ...existing code...
df_outliers = pd.DataFrame()  

for columna in df[['valor_referencial_2025_pen', 'valor_adquisicion_pen']].columns:
    outliers_col = df[(df[columna] < (descriptivesMin[columna].loc['25%'] - (1.5*RIC[columna]))) | 
                      (df[columna] > (descriptivesMax[columna].loc['75%'] + (1.5*RIC[columna])))]
    df_outliers = pd.concat([df_outliers, outliers_col], ignore_index=True)

# Eliminar duplicados basados en el índice original o todas las columnas
df_outliers = df_outliers.drop_duplicates()
print(f"Outliers únicos: {df_outliers.shape}")

Outliers únicos: (22661, 10)

In [51]:
print(df.shape)
print(df_outliers.shape)

(247816, 10)
(22661, 10)

## **Tratamiento de Outliers no aplicable (solo experimento por ahora)**

### Prueba de winsorizacion

In [52]:
df_winsorizado = df.copy()

p95_usd = df_winsorizado['valor_referencial_2025_pen'].quantile(0.95)
df_winsorizado['valor_referencial_2025_pen'] = df_winsorizado['valor_referencial_2025_pen'].clip(upper=p95_usd)

p95_soles = df_winsorizado['valor_adquisicion_pen'].quantile(0.95)
df_winsorizado['valor_adquisicion_pen'] = df_winsorizado['valor_adquisicion_pen'].clip(upper=p95_soles)

print("Winsorización completada - valores limitados al percentil 95")
print(f"Valor máximo de referencia después de winsorización: {df_winsorizado['valor_referencial_2025_pen'].max()}")
print(f"Valor máximo de adquisicion después de winsorización: {df_winsorizado['valor_adquisicion_pen'].max()}")

Winsorización completada - valores limitados al percentil 95
Valor máximo de referencia después de winsorización: 266320
Valor máximo de adquisicion después de winsorización: 337500.0

In [53]:
# Comparación de estadísticas descriptivas
print("=== ESTADÍSTICAS COMPARATIVAS ===")
print("\nDatos originales limpios:")
print(df[['valor_referencial_2025_pen', 'valor_adquisicion_pen']].describe())

print("\nDatos winsorizados:")
print(df_winsorizado[['valor_referencial_2025_pen', 'valor_adquisicion_pen']].describe())

=== ESTADÍSTICAS COMPARATIVAS ===

Datos originales limpios:
       valor_referencial_2025_pen  valor_adquisicion_pen
count                2.478160e+05           2.478160e+05
mean                 9.844988e+04           1.209238e+05
std                  9.060228e+04           1.417678e+05
min                  3.030000e+03           0.000000e+00
25%                  5.266000e+04           5.985480e+04
50%                  7.134000e+04           8.302800e+04
75%                  1.056900e+05           1.256919e+05
max                  1.427600e+06           8.110659e+06

Datos winsorizados:
       valor_referencial_2025_pen  valor_adquisicion_pen
count               247816.000000          247816.000000
mean                 90031.893058          106942.281284
std                  56215.478146           73431.667717
min                   3030.000000               0.000000
25%                  52660.000000           59854.800000
50%                  71340.000000           83028.000000
75%                 105690.000000          125691.900000
max                 266320.000000          337500.000000

Aqui se aplica Winsorización solo para ver los efectos, no se tomara en cuenta para el desarrollo puesto que los valores son extremos, tienen sentido dada la lógica del negocio (vehiculos de lujo o raros con precios muy altos) y no se pueden reemplazar

## Generar dataset

In [54]:
df_final = df.copy()
print(f"Dataset final seleccionado: {len(df_final)} registros")

Dataset final seleccionado: 247816 registros

In [55]:
df_final.to_csv("../data/data_post_step3.csv", index=False)
print("Datos exportados a CSV en ../data/data_post_step3.csv")

Datos exportados a CSV en ../data/data_post_step3.csv