In [3]:
working_dir = "../Data"
working_dir

'../Data'

In [4]:
import pandas as pd
df = pd.read_excel(f"{working_dir}/Vehiculos_afectos_a_IPV_Ene-Mar_2025_3.xlsx")

In [5]:
df.head()

,N° registro,Nº persona,Tipo persona,Tipo contribuyente,Distrito domicilio fiscal,Porcentaje propiedad,Correlativo,Fecha adquisición vehículo,Fecha 1ra inscripción SUNARP,Clase vehículo,Categoría vehículo,Marca,Modelo,Valor adquisición (US $),Valor adquisición (S/),Valor referencial 2025 (S/)
0,1018115191,2311249402,Persona Natural,Pequeño,ANCON,100.0,1911465,2022-12-24,2022-12-29,Camioneta,"B1, B2, B3, B4 (Pick up/otros)",FORD,BRONCO SPORT BIG BEND 4X4,39090.0,149323.8,126060
1,1056099842,6690559162,Persona Natural,Pequeño,ANCON,100.0,2048050,2024-04-20,2024-05-15,Camioneta,"B1, B2, B3, B4 (Pick up/otros)",CHEVROLET,N400 1.5 MT PASAJEROS BASE,13990.0,52462.5,48930
2,1059017867,7789077745,Persona Natural,Pequeño,ANCON,100.0,1963261,2023-04-28,2023-05-30,Camioneta,"B1, B2, B3, B4 (Pick up/otros)",PEUGEOT,3008 GT LINE 1.6 THP EAT6 165,42490.0,158062.8,136190
3,1067681437,2364381756,Sociedad Conyugal,Pequeño,ANCON,100.0,1884946,2022-09-23,2022-10-27,Automóvil,A2 (De 1051 a 1500 cc),HYUNDAI,GRAND I10 GL,14590.0,58068.2,40850
4,1076732977,2202287071,Persona Natural,Pequeño,ANCON,100.0,1949260,2023-05-30,2023-06-02,Camioneta,"B1, B2, B3, B4 (Pick up/otros)",JETOUR,X70 1.5T MEC 4X2 CONFORT,15820.0,58217.6,64070

In [6]:
df.dtypes

N° registro                              int64
Nº persona                               int64
Tipo persona                            object
Tipo contribuyente                      object
Distrito domicilio fiscal               object
Porcentaje propiedad                   float64
Correlativo                              int64
Fecha adquisición vehículo      datetime64[ns]
Fecha 1ra inscripción SUNARP    datetime64[ns]
Clase vehículo                          object
Categoría vehículo                      object
Marca                                   object
Modelo                                  object
Valor adquisición (US $)               float64
Valor adquisición (S/)                 float64
Valor referencial 2025 (S/)              int64
dtype: object

In [9]:
df.describe()

,N° registro,Nº persona,Porcentaje propiedad,Correlativo,Fecha adquisición vehículo,Fecha 1ra inscripción SUNARP,Valor adquisición (US $),Valor adquisición (S/),Valor referencial 2025 (S/)
count,2.518170e+05,2.518170e+05,251817.000000,2.518170e+05,251817,251817,2.518170e+05,2.518170e+05,2.518170e+05
mean,5.498238e+09,5.489583e+09,97.980413,1.972579e+06,2023-07-11 23:09:34.145510400,2023-07-07 08:24:20.603533312,3.164257e+04,1.221931e+05,9.935544e+04
min,1.000033e+09,1.000023e+09,1.000000,1.594430e+05,2002-04-29 00:00:00,2022-01-01 00:00:00,0.000000e+00,0.000000e+00,3.030000e+03
25%,3.244594e+09,3.240060e+09,100.000000,1.902390e+06,2022-10-31 00:00:00,2022-10-21 00:00:00,1.549000e+04,5.988990e+04,5.270000e+04
50%,5.491680e+09,5.486370e+09,100.000000,1.975560e+06,2023-07-19 00:00:00,2023-07-05 00:00:00,2.160800e+04,8.333115e+04,7.159000e+04
75%,7.755440e+09,7.737593e+09,100.000000,2.044365e+06,2024-03-30 00:00:00,2024-03-22 00:00:00,3.299000e+04,1.264428e+05,1.061100e+05
max,9.999998e+09,9.999986e+09,100.000000,2.125904e+06,2024-12-31 00:00:00,2024-12-31 00:00:00,2.087420e+06,8.110659e+06,1.427600e+06
std,2.600844e+09,2.599192e+09,9.956788,8.376850e+04,NaN,NaN,3.811447e+04,1.440493e+05,9.237561e+04

In [10]:
df.nunique()

N° registro                     251812
Nº persona                      251810
Tipo persona                         6
Tipo contribuyente                   3
Distrito domicilio fiscal           48
Porcentaje propiedad                39
Correlativo                     250853
Fecha adquisición vehículo        1256
Fecha 1ra inscripción SUNARP       908
Clase vehículo                       6
Categoría vehículo                   8
Marca                              133
Modelo                            3775
Valor adquisición (US $)         35716
Valor adquisición (S/)           81333
Valor referencial 2025 (S/)       7138
dtype: int64

In [7]:
df.notnull().sum()

N° registro                     251817
Nº persona                      251817
Tipo persona                    251817
Tipo contribuyente              251817
Distrito domicilio fiscal       251817
Porcentaje propiedad            251817
Correlativo                     251817
Fecha adquisición vehículo      251817
Fecha 1ra inscripción SUNARP    251817
Clase vehículo                  251817
Categoría vehículo              251817
Marca                           251817
Modelo                          251817
Valor adquisición (US $)        251817
Valor adquisición (S/)          251817
Valor referencial 2025 (S/)     251817
dtype: int64