In [2]:
working_dir = "../data"
working_dir

'../data'

In [3]:
import pandas as pd
df = pd.read_excel(f"{working_dir}/Vehiculos_afectos_a_IPV_Ene-Mar_2025_3.xlsx")

In [4]:
df.head()

,N° registro,Nº persona,Tipo persona,Tipo contribuyente,Distrito domicilio fiscal,Porcentaje propiedad,Correlativo,Fecha adquisición vehículo,Fecha 1ra inscripción SUNARP,Clase vehículo,Categoría vehículo,Marca,Modelo,Valor adquisición (US $),Valor adquisición (S/),Valor referencial 2025 (S/)
0,1018115191,2311249402,Persona Natural,Pequeño,ANCON,100.0,1911465,2022-12-24,2022-12-29,Camioneta,"B1, B2, B3, B4 (Pick up/otros)",FORD,BRONCO SPORT BIG BEND 4X4,39090.0,149323.8,126060
1,1056099842,6690559162,Persona Natural,Pequeño,ANCON,100.0,2048050,2024-04-20,2024-05-15,Camioneta,"B1, B2, B3, B4 (Pick up/otros)",CHEVROLET,N400 1.5 MT PASAJEROS BASE,13990.0,52462.5,48930
2,1059017867,7789077745,Persona Natural,Pequeño,ANCON,100.0,1963261,2023-04-28,2023-05-30,Camioneta,"B1, B2, B3, B4 (Pick up/otros)",PEUGEOT,3008 GT LINE 1.6 THP EAT6 165,42490.0,158062.8,136190
3,1067681437,2364381756,Sociedad Conyugal,Pequeño,ANCON,100.0,1884946,2022-09-23,2022-10-27,Automóvil,A2 (De 1051 a 1500 cc),HYUNDAI,GRAND I10 GL,14590.0,58068.2,40850
4,1076732977,2202287071,Persona Natural,Pequeño,ANCON,100.0,1949260,2023-05-30,2023-06-02,Camioneta,"B1, B2, B3, B4 (Pick up/otros)",JETOUR,X70 1.5T MEC 4X2 CONFORT,15820.0,58217.6,64070

In [5]:
df.shape

(251817, 16)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251817 entries, 0 to 251816
Data columns (total 16 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   N° registro                   251817 non-null  int64
 1   Nº persona                    251817 non-null  int64
 2   Tipo persona                  251817 non-null  object
 3   Tipo contribuyente            251817 non-null  object
 4   Distrito domicilio fiscal     251817 non-null  object
 5   Porcentaje propiedad          251817 non-null  float64
 6   Correlativo                   251817 non-null  int64
 7   Fecha adquisición vehículo    251817 non-null  datetime64[ns]
 8   Fecha 1ra inscripción SUNARP  251817 non-null  datetime64[ns]
 9   Clase vehículo                251817 non-null  object
 10  Categoría vehículo            251817 non-null  object
 11  Marca                         251817 non-null  object
 12  Modelo                        251817 non-null  object
 13  Valor adquisición (US $)      251817 non-null  float64
 14  Valor adquisición (S/)        251817 non-null  float64
 15  Valor referencial 2025 (S/)   251817 non-null  int64
dtypes: datetime64[ns](2), float64(3), int64(4), object(7)
memory usage: 30.7+ MB

In [18]:
df = df.rename(columns={
    'N° registro': 'registro_num',
    'Nº persona': 'persona_num',
    'Tipo persona': 'tipo_persona',
    'Tipo contribuyente': 'tipo_contribuyente',
    'Distrito domicilio fiscal': 'distrito_domicilio',
    'Porcentaje propiedad': 'porcentaje_propiedad',
    'Correlativo': 'correlativo',
    'Fecha adquisición vehículo': 'fecha_adquisicion',
    'Fecha 1ra inscripción SUNARP': 'fecha_inscripcion_sunarp',
    'Clase vehículo': 'clase_vehiculo',
    'Categoría vehículo': 'categoria_vehiculo',
    'Marca': 'marca',
    'Modelo': 'modelo',
    'Valor adquisición (US $)': 'valor_usd',
    'Valor adquisición (S/)': 'valor_pen',
    'Valor referencial 2025 (S/)': 'valor_referencial_2025'
})
df.columns

Index(['registro_num', 'persona_num', 'tipo_persona', 'tipo_contribuyente',
       'distrito_domicilio', 'porcentaje_propiedad', 'correlativo',
       'fecha_adquisicion', 'fecha_inscripcion_sunarp', 'clase_vehiculo',
       'categoria_vehiculo', 'marca', 'modelo', 'valor_usd', 'valor_pen',
       'valor_referencial_2025'],
      dtype='object')

In [19]:
df.nunique()

registro_num                251812
persona_num                 251810
tipo_persona                     6
tipo_contribuyente               3
distrito_domicilio              48
porcentaje_propiedad            39
correlativo                 250853
fecha_adquisicion             1256
fecha_inscripcion_sunarp       908
clase_vehiculo                   6
categoria_vehiculo               8
marca                          133
modelo                        3775
valor_usd                    35716
valor_pen                    81333
valor_referencial_2025        7138
dtype: int64