In [1]:
working_dir = "../data"
working_dir

'../data'

In [2]:
import pandas as pd
df = pd.read_excel(f"{working_dir}/Vehiculos_afectos_a_IPV_Ene-Mar_2025_3.xlsx")

In [3]:
df.head()

,N° registro,Nº persona,Tipo persona,Tipo contribuyente,Distrito domicilio fiscal,Porcentaje propiedad,Correlativo,Fecha adquisición vehículo,Fecha 1ra inscripción SUNARP,Clase vehículo,Categoría vehículo,Marca,Modelo,Valor adquisición (US $),Valor adquisición (S/),Valor referencial 2025 (S/)
0,1018115191,2311249402,Persona Natural,Pequeño,ANCON,100.0,1911465,2022-12-24,2022-12-29,Camioneta,"B1, B2, B3, B4 (Pick up/otros)",FORD,BRONCO SPORT BIG BEND 4X4,39090.0,149323.8,126060
1,1056099842,6690559162,Persona Natural,Pequeño,ANCON,100.0,2048050,2024-04-20,2024-05-15,Camioneta,"B1, B2, B3, B4 (Pick up/otros)",CHEVROLET,N400 1.5 MT PASAJEROS BASE,13990.0,52462.5,48930
2,1059017867,7789077745,Persona Natural,Pequeño,ANCON,100.0,1963261,2023-04-28,2023-05-30,Camioneta,"B1, B2, B3, B4 (Pick up/otros)",PEUGEOT,3008 GT LINE 1.6 THP EAT6 165,42490.0,158062.8,136190
3,1067681437,2364381756,Sociedad Conyugal,Pequeño,ANCON,100.0,1884946,2022-09-23,2022-10-27,Automóvil,A2 (De 1051 a 1500 cc),HYUNDAI,GRAND I10 GL,14590.0,58068.2,40850
4,1076732977,2202287071,Persona Natural,Pequeño,ANCON,100.0,1949260,2023-05-30,2023-06-02,Camioneta,"B1, B2, B3, B4 (Pick up/otros)",JETOUR,X70 1.5T MEC 4X2 CONFORT,15820.0,58217.6,64070